{% extends 'base.html' %}

{% load static %}
{% load apptags %}

{% block title %}
    Expe {{ expe_name }}
{% endblock %}

{% block content %}
    
    {% if request.session.expe_finished %}
        <h2>{{end_text | safe}}</h2>
    {% endif %}

    {% if not request.session.expe_finished %}
        <h3>{{question | safe}}</h3>
        <h5>{{indication | safe}}</h5>
        <img id="expeImg" src="{{request.session.expe_data|get_value_from_dict:'image_path'}}" data-img="{{request.session.img_merged}}"/>
        
    {% endif %}

{% endblock %}

{% block javascripts %}
    <!-- Global scripts used -->
    <script type="text/javascript"> 
        var expeName = "{{expe_name}}"
    </script>

    <script>
        /* Get the element you want displayed in fullscreen mode (a video in this example): */
        var elem = document.getElementById("main-container");
    </script>
    <script>
        var expeName = "{{expe_name}}"
        
        var urlParams = new URLSearchParams(window.location.search)
         if (urlParams.has('iteration')) {
            iteration = Number(urlParams.get('iteration'))
            var iter = Number("{{request.session.expe_data|get_value_from_dict:'expe_previous_iteration'}}")
            if(iteration > iter){
                const params = `?expe=${expeName}&iteration=${iter}`
                window.location = expeUrl + params
            }   
        } 
    </script>
{% endblock %}
