{% extends 'pages/page_base.html' %}

{% load static %}
{% load apptags %}    

{% block content %}

<div class="justify-content-center">
    <div class="py-2">
        <a href="{% url 'expe:experiment' slug=experiment.slug %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-left"></i>
            </span>
            <span class="text">Back to {{experiment.title}}</span>
        </a>
    </div>

    <!-- Page Heading -->
    <center>
        <h3>{{page.content|from_json:"description"}}</h3>
    </center>

    <div class="row">
        <!-- Display images -->
        {% with left_img=page.content|from_json:"left_image" %}
        
            <div class="col-xl-6 col-md-6 mb-4">
                <center>
                    <img src="{% static left_img|from_json:'src' %}" alt="Left image" width="{{left_img|from_json:'width'}}px" height="{{left_img|from_json:'height'}}px"> 
                </center>
            </div>
        {% endwith %}

        {% with right_img=page.content|from_json:"right_image" %}
        
            <div class="col-xl-6 col-md-6 mb-4">
                <center>
                    <img src="{% static right_img|from_json:'src' %}" alt="Left image" width="{{right_img|from_json:'width'}}px" height="{{right_img|from_json:'height'}}px"> 
                </center>
            </div>
        {% endwith %}
    </div>
    
    <center>
        <h5>{{page.content|from_json:"answer"}}</h5>
        
        {% if progress %}
            
            <div class="py-2">
                <a href="{% url 'expe:experiment' slug=experiment.slug %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">{% if progress.is_started %}Continue{% else %}Start{% endif %} experiment</span>
                </a>
            </div>
        {% else %}
        <div class="py-2">
            <a href="{% url 'expe:experiment' slug=experiment.slug %}" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">Find session for experiment</span>
            </a>
        </div>
        {% endif %}
    </center>
</div>
{% endblock %}